/*RESET*/
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.flex {
    display: flex;
}

/*HEADER*/

header {
    background-color: #0084fd;
    height: 80px;
    width: 100%;
}

.header-container {
    width: 90%;
    margin: 0 auto;
    justify-content: space-between;
}

.header-container>div {
    background-color: blueviolet;
}


/*MAIN*/

#intro {
    background-color: aquamarine;
}

.intro-container {
    width: 90%;
    margin: 0 auto;
}

main .cards {
    justify-content: column;
    flex-wrap: wrap;
    padding: 3rem 0 3rem 0;
}

main .cards .card,
main .cards .big-card{
    background-color: lime;
}

main .cards .card {
    height: 300px;
    width: 100%;
    border: 1px solid black;
    margin: 0 1rem 1rem 0;
}

main .cards .big-card{
    height: 300px;
    width: 100%;
}


/*FOOTER*/




/*****************************
RESPONSIVE
*****************************/

@media screen and (min-width: 768px) {

    main .cards {
        justify-content: space-between;
        flex-wrap: wrap;
    }
    
    main .cards .card {
        height: 300px;
        width: calc(100% / 3 - 1rem);
    }
    
    main .cards .big-card{
        height: 300px;
        width: calc((100% / 3) * 2 - 1rem);

    }

}

@media screen and (min-width: 1160px) {


}
    

