/*RESET*/
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container {
    width: 90%;
    margin: 0 auto;
}

.white {
    background-color: #fff;
}

.violet {
    background-color: #9792e4;
}

.azure {
    background-color: #b5ddff;
}


.flex {
    display: flex;
}

/*HEADER*/

header {
    background-color: #0084fd;
    height: 80px;
    width: 100%;
}

header .container {
    justify-content: space-between;
}

header .container>div {
    background-color: white;
}


/*MAIN*/

main .cards,
main .dev-cards,
main .test-cards,
main .benefits-cards {
    justify-content: column;
    flex-wrap: wrap;
    padding: 3rem 0 3rem 0;
}

main .cards .card,
main .cards .big-card,
main .benefits-cards .benefits-card{
    height: 300px;
    width: 100%;
}

main .cards .card,
main .cards .big-card,
main .dev-cards .dev-card,
main .test-cards .test-card,
main .benefits-cards .benefits-card {
    border: 1px solid black;
    margin-top: 1rem;
}

main .dev-cards .dev-card {
    height: 400px;
    width: 100%;
}



/*FOOTER*/




/*****************************
RESPONSIVE
*****************************/

@media screen and (min-width: 768px) {

    main .cards {
        justify-content: space-between;
        flex-wrap: wrap;
    }
    
    main .cards .card {
        height: 300px;
        width: calc(100% / 3 - .5rem);

    }
    
    main .cards .big-card{
        height: 300px;
        width: calc((100% / 3) * 2 - .5rem);

    }

    main .benefits-cards {
        justify-content: space-between;
    }

    main .benefits-cards .benefits-card {
        height: 300px;
        width: calc(100% / 2 - .5rem);

    }

}

@media screen and (min-width: 1160px) {

    .container {
        width: 60%;
    }

    main .dev-cards {
        flex-wrap: nowrap;
        align-items: flex-end;
    }

    main .benefits-cards .benefits-card {
        height: 300px;
        width: calc(100% / 3 - .5rem);

    }

}
    

