/*RESET*/
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 90%;
    margin: 0 auto;
}


.flex {
    display: flex;
}

.blue {
    background-color: #0084fd
}

.white {
    background-color: #fff;
}

.violet {
    background-color: #9792e4;
}

.azure {
    background-color: #b5ddff;
}

.black {
    background-color: #333333;
}

ul {
    list-style-type: none;
    align-items: center;
}

a {
    text-decoration: none;
    color: #000 ;
    background-color: #fff;
    border-radius: 5px;
    padding: .5rem 1rem;;
}

li {
    padding-left: 1.5rem;
}

/*HEADER*/

header {
    align-items: center;
    height: 80px;
    width: 100%;
}

header .container {
    justify-content: space-between;
}

header .container>div {
    color: #fff;
    align-items: center;
}

header .fa-bars {
    font-size: 2rem;
}

header div ul li {
    display: none;
}


/*MAIN*/

main .cards,
main .dev-cards,
main .test-cards,
main .benefits-cards,
main .about-us {
    justify-content: column;
    flex-wrap: wrap;
    padding: 3rem 0 3rem 0;
}

main .cards .card,
main .cards .big-card,
main .benefits-cards .benefits-card{
    width: 100%;
}

main .cards .card,
main .cards .big-card,
main .dev-cards .dev-card,
main .test-cards .test-card,
main .benefits-cards .benefits-card,
main .about-us-left,
main .about-us-right {
    margin-top: 1rem;
    padding: 2rem 2rem 2rem 2rem;
    border-radius: 10px;
}

main .dev-cards .dev-card,
main .about-us-left,
main .about-us-right {
    width: 100%;
}

main a {
    color: #fff;
    padding: 0.5rem 2.5rem;
    font-size: 1.2rem;
}


main article.big-card p:first-child,
main article.small-card p:nth-child(2) {
    font-size: 1.5rem;
    font-weight: bold;
    color: #0084fd;
}

main article.big-card p:nth-child(2),
main article.small-card p:nth-child(3) {
    line-height: 2rem;
    padding: 1.5rem 0;

}

main .big-card {
    flex-wrap: wrap;
    padding-top: 2rem;
    width: 100%;
}


main .big-card img {
    padding-top: 2rem;
    width: 100%;
}

main .small-card {
    text-align: center;
}

main .card .fa-solid {
    padding-bottom: 2rem;
    font-size: 6rem;
    color: #0084fd;
}

main .dev-cards .dev-card img {
    width: 100%;

}


main .dev-cards .dev-card {
    color: #fff;
}

main .dev-cards .dev-card.white {
    color: #000;
    text-align: center;
}

main .dev-cards .dev-card.white a {
    color: #000;
    border-radius: 50%;
    padding: .6rem 1rem .6rem 1rem;
}

main .dev-cards .dev-card.white p:nth-child(2),
main .dev-cards .dev-card p:nth-child(2){
    font-weight: bold;
}

main .dev-cards .dev-card p:nth-child(2) {
    font-size: 2rem;
    padding-top: 3rem;
}

main .dev-cards .dev-card.white p:nth-child(2) {
    font-size: 1.5rem;
}

main .dev-cards .dev-card.white p:nth-child(3),
main .dev-cards .dev-card p:nth-child(3){
    line-height: 1.5rem;
    padding-top: 2rem;
}

main .dev-cards .dev-card.white p:nth-child(3) {
    font-style: italic;
    padding-bottom: 2rem;
}

main .test-cards {
    text-align: center;
}

main .test-cards .test-card:first-child p:first-child {
    text-transform: uppercase;
}


main .test-cards .test-card:first-child p:nth-child(2){
    color: #9792e4;
    font-size: 2rem;
    font-weight: bold;
    padding: 2rem 0;
}

main .test-card.violet.flex {
    flex-wrap: wrap;
    justify-content: center;
}

main .test-card.violet.flex .testimonial-text p {
    padding-top: 1.5rem;
    color: #fff;
}

main .test-card.violet.flex .testimonial-text p:last-child {
    text-transform: uppercase;
    font-weight: bold;
}

main .test-cards .test-card img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

main section#benefits div.container p:first-child {
    text-align: center;
    padding-top: 2rem;
    font-size: 2rem;
    font-weight: bold;
    color: #ffff;
}

main .benefits-card h1,
main .benefits-card h2 {
    padding-bottom: 1.5rem;
    color: #9792e4;
}

main .benefits-card h1 {
    font-size: 3rem;
    font-weight: bold;
}

main .benefits-card p {
    padding-bottom: 1rem;
    line-height: 2rem;
}




/*FOOTER*/

footer {
    color: #fff;
}

footer .get-started-card {
    text-align: center;
}

footer #footer-top,
footer #footer-bottom {
    height: 150px;
    padding: 2rem 0 2rem 0;
}




/*****************************
RESPONSIVE
*****************************/

/*TABLET*/

@media screen and (min-width: 768px) {

    header div ul li {
        display: initial;
    }

    header .fa-bars {
        display: none;
    }
    main .cards {
        justify-content: space-between;
        flex-wrap: wrap;
    }

    main .about-us {
        flex-wrap: nowrap;
    }
    
    main .cards .card {
        width: calc(100% / 3 - .5rem);

    }
    
    main .cards .big-card{
        width: calc((100% / 3) * 2 - .5rem);
    }

    
    main .big-card img {
        width: 50%;
    }

    main .test-card.violet.flex {
        flex-wrap: nowrap;
        align-items: center;
    }

    main .test-card.violet.flex .testimonial-text {
        text-align: left;
        padding-left: 2rem;
    }
    

    main .benefits-cards,
    main .about-us {
        justify-content: space-between;
    }

    main .benefits-cards .benefits-card {
        width: calc(100% / 2 - .5rem);
    }

    main .about-us-left {
        width: calc((70%) - 1rem);
        margin-right: 1rem;
    }
    
    main .about-us-right {
        width: 30%;
    }

    footer .container {
        width: 55%;
    }

}

/* DESKTOP */

@media screen and (min-width: 992px) {

    .container {
        width: 60%;
    }

    main .big-card {
        flex-wrap: nowrap;
        align-items: flex-start;
    }

    main .big-card .text {
        width: 60%
    }

    main .dev-cards {
        flex-wrap: nowrap;
        align-items: flex-end;
    }

    main .dev-cards .dev-card.white{
        width: 55%
    }

    main .benefits-cards .benefits-card {
        width: calc(100% / 3 - .5rem);
    }

    footer .container {
        width: 40%;
    }

}
    

